
/*body {
    background: linear-gradient(#63b7b7, #fffdd0,#fce8e0);
    
}*/
/*body{
    background: linear-gradient(#363654,rgb(65, 82, 65),rgb(70, 61, 70));
    color:white;
}
.color {
    color: white;
}*/

body{
    background-color: lightblue;
    color:black;
}